.auth-form{
    width: 50vw;
    height:100vh;
    background-color: #fff;
    padding: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;

}
h4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 456px;
    height: 94px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;  
}
.auth-form_subtitle{
  width: 456px;
  height: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6C7275;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.signUplink{
    color: #38CB89;  
}
.auth-form_form{
    width: 456px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 1;
    /* background: url(../img/eye.svg) no-repeat scroll 7px 7px; */
    
}

.option{
    width: 456px;
    height: 26px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }
  .forgotPassword{
  position: absolute;
  width: 139px;
  height: 26px;
  right: 0px;
  top: calc(50% - 26px/2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #141718;
  }
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    gap: 8px;
    width: 456px;
    height: 48px;
    background: #141718;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    }

/* .auth-form_subtitle{
    color: rgb(180,184,193);
}
.auth-form_form{
    max-width:360px;
} */